header{
    .navbar{
        width: 100%;
        div{
            .nav-brand{
                width: 100%;
                align-self: center;

                .logo{
                    width: 100%;
                    align-items: center;
                    align-self: center;
                }
            }
        }
    }
}